/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*основной стиль */
body{
	background-image: url(images/main.jpg);
    color: #afafaf;
    font-family: sans-serif;
}
/*главный блок*/
.main{
    width: 960px;
    margin: 0 auto;
}
a{
    color: #8fc902;
}
/*логин и пароль*/
.psw{
    text-align: right;
    height: 27px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.placeholder{
    padding-left: 7px;
    padding-bottom: 2px;
    height: 17px;
}
.button{
    background-color: #8fc902;
    border-radius: 5px;
    border-color: #8fc902;
    color: white;
    height: 27px;
    width: 65px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}
/*блок header*/
header{
    height: 200px;
}
/*первое меню в header*/
.menu{
    height: 36px;
}
.menu_right{
    float: right; 
    margin-right: -20px;
    letter-spacing: 20px;
}
.menu ul {
    background: #1e1e20;
    text-align: left;
    padding-left: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.menu ul li {
    display: inline-block;
    padding: 10px 20px 10px 0;
}
.menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
}
.menu ul li a:hover{
    color: #8fc902;
}
/*логотип*/
.site{
    float: left;
    height: 115px;
    background-color: #2f2f31;
}
.site h1{
    font-size: 29px;
    font-weight: bold;
    margin-top: 25px;
    padding: 20px 0 20px 20px;
    text-transform: uppercase;
    color: white;
}
.site h1 span{
    color: #8fc902;
}
.logo{
    height: 115px;
    background-color: #2f2f31;
}
.logo img{
    float: right;
    height: 75px;
    width: auto;
    margin: 20px 10px 20px 20px;
}
/*второе меню в header*/
.menu_2{
    width: 960px;
    height: 50px;
    background-color: #8fc902;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.menu_2 ul li{
    float: left;
}
.menu_2 ul li a{
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    color: white;
    border-right: 1px ridge;
    border-color: #79aa01;
    display: block;
    padding: 16px 17px;
    text-transform: uppercase;
}
.menu_2 ul li:hover a{
    background: white;
    color: black;
}
.menu_2 ul li:first-child:hover > a{
    border-bottom-left-radius: 10px;
}
.menu_2 ul li input{
	margin: 15px 0 20px 175px;
    text-align: justify;
    height: 20px;
    padding-bottom: 5px;
    word-spacing: 105px;
}
/*блок главной игры*/
.egg_defender{
    width: 960px;
    height: 250px;
    margin-top: 15px;
    background-color: #2f2f31;
    border-radius: 10px; 
}
.egg_defender__img img{
    height: 240px;
    float: left;
    width: 661px;
}
.egg_defender__text{
   float: right; 
   width: 279px;
   height: 240px;
   margin-left: 20px;
   margin-top: 10px;
}
.egg_defender__text p{
    padding-right: 10px;
    font-size: 15px;
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 92px;
    margin: 0 auto;
    line-height: 1;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.egg_defender__text h1 a{
    color: #8fc902;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}
.egg_defender__text h2{
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 10px;
}
.egg_defender__text input{
    background: #8fc902;
    border-color: #8fc902;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    height: 30px;
    width: 140px;
    margin-top: 15px;
}
/*блок левой колонки*/
.content{
    width: 640px;
    margin-right: 25px;
    margin-top: 15px;
    float: left;
}
/*блок новостей*/
.news{
    background-color: #252527;
    border-radius: 10px;
    height: 855px;
}
.heading{
    height: 30px;
    background-color: #2d2d2f;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    padding: 20px 0 0 20px;
    border-bottom: 1px ridge;
    border-color: #1e1e20;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.news hr{
    border: none;
    color: #464646;
    background-color: #464646;
    height: 1px;
}
.news__list{
    margin-top: 15px;
}
.news__list li{
    font-size: 11px;
    font-weight: bold;
    width: 95px;
    padding-left: 30px;
    padding-right: 30px;
    display: inline-block;
    vertical-align: top;
    line-height: 15px;
}
.news__list li a{
    text-decoration: none;
    font-size: 13px;
}
.news__list li img{
    border-radius: 20%;
    border: 2px solid;
    border-color: white;
    width: 95px;
}
.reading{
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 20px;
}
/*блок игры 1,2,3*/
article{
    background-color: #252527;
    margin-top: 20px;
    height: 310px;
    width: 640px;
    border-radius: 10px;
}
article input{
    background-color: #8fc902;
    border-radius: 5px;
    border-color: #8fc902;
    color: white;
}
.games img{
    float: left;
    margin: 0px 10px 10px 20px;
}
.games_p {
    padding-top: 10px;
    padding-left: 20px;
    font-size: 11px;
}
.games p {
    padding-top: 10px;
    font-size: 14px;
    padding-right: 10px;
    display: block;
    display: -webkit-box;
    max-width: 100%;
    margin: 0 auto;
    line-height: 1;
    height: 55px;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.games{
    clear: both;
    margin-top: 20px;
}
.games_p time{
    float: right;
    padding-right: 10px;
}
.games h4 a{
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}
.games h5{
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 15px;
    padding-top: 10px;
}
.games_b {
    background-color: #404040;
	color: white;
	border-color: #404040;
	border-radius: 7px;
	margin-top: 16px;
	padding: 5px 8px;
    font-weight: bold;
    text-transform: uppercase;
}
.rating{
    clear: both;
    margin-top: 15px;
}
.rating ul{
    padding-left:20px;
}
.rating ul li{
    float: left;
    font-size: 11px;
}
.star-rating{
    margin: 0;
    padding: 0;
    list-style: none;
    width: 50px;
    height: 10px;
    position: relative;
    background: url(images/stars.png);
}
.star-rating li{
    float: left;
    margin: 0;
    padding: 0;
}
.star-rating li a{
    display: block;
    width: 10px;
    height: 10px;
    text-indent: -9999px;
    position: absolute;
    text-decoration: none;
    z-index: 10;
}
.star-rating li a:hover{
    background: url(images/stars.png) left center;
    left: 0;
    z-index: 2;
}
.star1{
    left: 0;
}
.star1:hover{
    width: 10px;
}
.star2{
    left: 10px;
}
.star2:hover{
    width: 20px;
}
.star3{
    left: 20px;
}
.star3:hover{
    width: 30px;
}
.star4{
    left: 30px;
}
.star4:hover{
    width: 40px;
}
.star5{
    left: 40px;
}
.star5:hover{
    width: 50px;
}
.current {
    background: url(images/stars.png) left bottom;    
    height: 10px;
    width: 35px;
    z-index: 1;
}
.rating_comments{
    margin-right: 110px;
}
/*блок правой колонки*/
aside{
    float: right;
    width: 295px;
    border-radius: 10px;
    margin-top: 15px;
}
/*блок популярное*/
.popular {
    height: 380px;
    background-color: #252527;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.popular ul {
    padding-left: 20px;
    padding-top: 10px;
}
.popular ul li a{
    font-size: 13px;
    font-weight: bold;
    line-height: 25px;
    text-decoration: none;
    border-bottom: 1px dotted #8fc902;
}
/*блок наша гордость*/
.pride{
    margin-top: 20px;
    background-color: #252527;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 310px;
}
.pride_1{
    clear: both;
    margin-bottom: 10px;
    padding-top: 10px;
}
.pride_1 img{
    float:left;
    padding: 0 10px 10px 20px;
    border-radius: 10px;
}
.pride_1 a{
    font-size: 15px;
}
.pride_1 p{
    padding-top: 5px;
    padding-right: 10px;
    font-size: 15px;
}
/*блок рекламы*/
.advertising{
    margin-top: 20px;
    background-color: #252527;
    height: 380px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.yandex{
    font-weight: bold;
    margin-bottom: 15px;
}
.yandex:first-letter{
    color: red;
}
.advertising__text{
    padding: 10px 10px 10px 20px;;
    color: white;
}
.advertising__text ul li{
    margin-bottom: 10px;
}
/*блок соцсети*/
.socialnetwork{
    margin-top: 20px;
    background-color: #252527;
    font-weight: bold;
    height: 390px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#vk_groups {
    margin-top: 20px;
    margin-left: 47px;
}
/*блок облака тэгов*/
.tags{
    margin-top: 20px;
    background-color: #252527;
    height: 410px;
    font-weight: bold;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.tags__text a{
    padding-left: 20px;
}
.tags__text{
    margin-top: 15px;
}
.tags__text a:hover{
    color: #86bc04;
}
.smaller{
	text-decoration: none;
	color: white;
	font-size: 12px; 
}
.small{
	text-decoration: none;
	color: white;
	font-size: 15px; 
}
.big{
	text-decoration: none;
	color: white;
	font-size: 30px; 
}
.biger{
	text-decoration: none;
	color: white;
	font-size: 25px; 
}
/*блок страниц*/
.pages{
    margin: 0 auto;
    width:350px;
}
.pages ul li{
    display: inline-block;
    float: left;
    margin: 10px;
}
.pages ul li a{
    font-size: 13px;
}
.number{
    display: block;
    height: 12px;
    width: 12px;
    padding-top: 2px;
    padding-left: 4px;
    border-radius: 3px;
}
.number:hover{
    background: white;
    color: black;
    text-decoration: none;
}
/*подвал*/
footer{
    width: 960px;
    clear: both;
    padding-top: 20px;
}
footer hr{
    border: none;
    color: #464646;
    background-color: #464646;
    height: 1px;
}
footer ul li{
    display: inline-block;
    float: left;
    margin: 20px;
}
footer ul li a{
    color: #afafaf;
    text-decoration: none;
    font-size: 12px;
}
footer ul li a:hover{
    color: #8fc902;
}
.site_footer {
    float: right;
}
.site_footer h1 {
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
    padding-right: 20px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.site_footer h1 span {
	color:#86bc04;
}
.site_copy{
    font-size: 10px;
    margin-bottom: 10px;
    float: right;
    padding-right: 20px;
}